/* summary table style */
.evhead { font-size: 14pt; font-weight: bold; padding-bottom: 0.5em; }
.evtitle { font-size: 12pt; }
.evinfo { font-size: 9pt; text-align: right; }
.even,.odd, .head th { font-size: 10pt; }
.head { background-color: #ccc; white-space: nowrap; }
th, td { padding: 4px; }
.even td { border-bottom: dashed 1px; }
.outer { border: solid 1px #000000; border-spacing: 1px; }
.evtbl { border-spacing: 1px; border: solid 1px; }
body { width: 700px; }
.catbox { float: right; margin: 10px; }
.num { text-align: right; width: 1.5em; padding-right: 0.5em;}
img { border: 0px; }
